

body {
	font-family: Arial;
}


.centered {
	text-align: center;
}

.blue {
	background-color: lightblue;
}

.subbullet { 
	margin-left: 2em;
	padding-bottom: 0;
}

table, th, td {
	border: 1px solid;
}