

body {
	font-family: Arial;
}


.centered {
	text-align: center;
}

.blue {
	background-color: lightblue;
}

.subbullet { 
	margin-left: 2em;
	padding-bottom: 0;
}

table, th, td {
	border: 1px solid;
}

table th {
	fill: lightblue;
}

#decoration {
}

.circle {
	fill-opacity: 50%;
	fill: skyblue;
	margin: 20%;
}

.circle:hover {
	border-color: hotpink;
	border: solid;
	border-width: medium;
	stroke: hotpink;
	position: relative;
}

.rect {
	stroke: black;
	fill: green;
	position: relative;

}

.rect:hover{
	fill: purple;
}

svg {
	top: 110%;
	bottom: 0;
	left: 5%;
	right: 0;
	width: auto;
}